<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'pairwise_comparisons/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pairwise_comparisons/css/style.css' %}">

    <script src="{% static 'pairwise_comparisons/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'pairwise_comparisons/js/bootstrap.js' %}"></script>
    <script src="{% static 'pairwise_comparisons/js/main.js' %}"></script>

    <title>PAIRCOMP</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
       <div class="container-fluid">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#">PAIRCOMP</a>
         </div>

         <!-- Collect the nav links, forms, and other content for toggling -->

       </div><!-- /.container-fluid -->
    </nav>

   {% if messages %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Download Document Comparison Summary
                <span class="glyphicon glyphicon-flash pull-right" aria-hidden="true" id="run-icon"></span>
            </h3>

        </div>
        <div class="panel-body">
            {% for message in messages %}

            <form action="{% url 'pairwise_comparisons:download_comparison_summary' %}" method="post">
                {% csrf_token %}

                <input type="hidden" value="{{ message }}" name="csv-file-download">
                <div class="row text-center">
                    <input type="submit" class="btn btn-success col-md-4 col-sm-4 center" value="Download {{ message }}">
                </div>

            </form>

            {% endfor %}
        </div>
    </div>

    {% endif %}

</body>
</html>